{% extends "layout.twig" %}
{% block content %}
<h1>Dashboard</h1>
<ul>
  <li><a href="/platzi_php/user/create">Add User</a></li>
  <li><a href="/platzi_php/jobs/add">Add User</a></li>
</ul>

<br><br>
<a href="/platzi_php/logout">logout</a>
<p>{{sId}}</p>
{% endblock %}
